click==7.1.2
Cython==0.29.23
debugpy==1.0.0
decorator==4.4.2
fastai==2.3.1
fastbook==0.0.16
Flask==1.1.4
flask-ngrok==0.0.25
imutils==0.5.4
matplotlib==3.2.2
nltk==3.2.5
numpy==1.19.5
opencv-python==4.1.2.30
pandas==1.1.5
Pillow==7.1.2
plotly==4.4.1
regex==2019.12.20
requests==2.23.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.1
six==1.15.0
sklearn==0.0
sklearn-pandas==1.8.0
torch==1.8.1+cu101
torchsummary==1.5.1
torchtext==0.9.1
torchvision==0.9.1+cu101
tqdm==4.41.1
Werkzeug==1.0.1

